{% extends 'base.html' %}

{% block content %}
<main>
    <div class="profile-left-bar">
        <h1>Ваш профиль</h1>
        <p>Логин: {{ user.username }}</p>
         {% for request in user_requests %}
            {% if request.status == 'new' %}
            <p>Вы не можете сменить регион, тк у вас есть заявки в статусе новая</p>
            {% else %}
            <p>Ваш регион: {{ user.district }}</p>
        {% endif %}
        {% endfor %}
        <a href="{% url 'update_district' %}">Изменить регион</a>
        <a href="{% url 'change_password' %}">Сменить пароль</a>
    </div>

    <div class="profile-form">
        <h2>Ваши заявки</h2>
    <a href="{% url 'create_request' %}">Создать новую заявку</a>

    <div class="request">
        {% if user_requests %}
        <ul class="request">
            {% for request in user_requests %}
                <li>
                    <h3>{{ request.title }}</h3>
                    <p>{{ request.description }}</p>
                    <p>Категория: {{ request.category.name }}</p>
                    <p>Статус: {{ request.get_status_display }}</p>
                    <p>Создано: {{ request.created_at }}</p>

                    {% if request.status == 'new' %}
                        <form method="post" action="{% url 'delete_request' request.id %}" onsubmit="return confirm('Вы уверены, что хотите удалить эту заявку?');">
                            {% csrf_token %}
                            <button type="submit" class="btn">Удалить заявку</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет заявок.</p>
    {% endif %}
    </div>
    </div>
</main>
{% endblock %}

